/********** Device Styles **********/
@media only screen and (max-width: 1250px) {
  .row-2 {
    margin-left: 0px;
  }
  .hex {
    margin-bottom: 0px;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 900px) {
  #last-hex {
    position: relative;
    left: 0px;
    top: 0px;
  }
  #last-even-hex {
    position: relative;
    left: 0px;
    top: 0px;
    margin-left: 50px;
  }
}

@media only screen and (max-width: 725px) {
  #social {
    position: fixed;
    top: 50px;
    width: 40px;
    z-index: 1;
  }
}

/**
* Smartphone Landscape: 480px
*/
@media only screen and (max-width: 480px) {
  .hex {
    margin-left: 25px;
  }
  #last-even-hex {
    margin-left: 25px;
  }
  .hex .top-green {
    width: 0;
    border-bottom: 80px solid #94BA65;
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
  }
  .hex .middle-green {
    width: 280px;
    height: 160px;
    background: #94BA65;
  }
  .hex .bottom-green {
    width: 0;
    border-top: 80px solid #94BA65;
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
  }
  .hex .top-blue {
    width: 0;
    border-bottom: 80px solid #2B4E72;
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
  }
  .hex .middle-blue {
    width: 280px;
    height: 160px;
    background: #2B4E72;
  }
  .hex .bottom-blue {
    width: 0;
    border-top: 80px solid #2B4E72;
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
  }
  .hex .top-teal {
    width: 0;
    border-bottom: 80px solid #2790B0;
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
  }
  .hex .middle-teal {
    width: 280px;
    height: 160px;
    background: #2790B0;
  }
  .hex .bottom-teal {
    width: 0;
    border-top: 80px solid #2790B0;
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
  }

  h1 {
    font-size: 56px;
    margin-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  h2 {
    font-size: 22px;
    padding-top: 65px;
    margin-bottom: 12px;
  }
  p {
    font-size: 14px;
  }

  .flip-container:hover .back {
    transform: rotateY(0deg);
  }
  .flip-container:hover .front {
    transform: rotateY(0deg);
  }
  .back {
    display: none;
  }

  #social {
    position: absolute;
    top: 2100px;
    left: 25px;
    width: auto;
    z-index: 1;
  }
}

/**
 * Printer
 */
@media print {
	*, h1, h2, h3, h4, h5, h6, p, a, section, div, table {
		color: black;
	}
}