/********** Device Styles **********/
@media only screen and (max-width: 900px) {

        #social {
            position: fixed;
            top: 50px;
            width: 40px;
            z-index: 1;
        }

}

@media only screen and (max-width: 660px) {

        header {
            height: 90px;
        }

        .project {
            border: 5px solid white;
            height: 150px;
            margin-left: 50px;
        }

        img {
            height: 100px;
            margin-bottom: 0;
        }   

        #dynamite > img {
            padding-left: 55px; 
            padding-right: 55px; 
            background-color: black
        }

        h1 {
            font-size: 50px;
        }

        h2 {
            font-size: 22px;
        }

        i {
            font-size: 30px;
        }
        #contact {
            height: 100px;
        }
}

/**
 * Smartphone Landscape: 480px
 */
@media only screen and (max-width: 480px) {

        #social {
            top: 0;
            width: auto;
            left: 50px;
            position: relative;
            float: left;
        }

        i {
            color: white;
        }

        #contact {
            height: 0;
        }

        #contact form {
            display: none;
        }
            
        #contact h2 {
            display: none;
        }
        h2 {
            padding-top: 5px;
        }
}

/**
 * Smartphone Portrait: 400px
 */

@media only screen and (max-width: 400px) {

    .project {
        margin-left: 25px;
        height: 125px;
        margin-bottom: 15px;
    }

    header {
        height: 60px;
        margin-bottom: 0;
    }

    h1 {
        margin: 20px 25px 0px 25px;
        font-size: 40px;
    }

    img {
        height: 80px;
    }   

    #dynamite > img {
        padding-left: 45px; 
        padding-right: 45px; 
        background-color: black
    }

    #social {
        left: 25px;
    }

}

/**
 * Printer
 */

@media print {
	*, h1, h2, h3, h4, h5, h6, p, a, section, div, table {
		color: black;
	}
}