@import url(http://fonts.googleapis.com/css?family=BenchNine);
@import url(http://fonts.googleapis.com/css?family=BenchNine);

*   {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}

/********** Styles *********r;*/

.wrapper {
  max-width: 1500px;
}
body {
  font: sans-serif, helvetica;
  background-size: cover;
  background-repeat: repeat-n;
}
h1 {
  font-size: 70px;
  color: #666;
  text-align: left;
  margin: 35px 50px;
  font-family: BenchNine, serif;
}
h2 {
  padding-top: 70px;
  margin-bottom: 15px;
  font-size: 26px;
  font-family: BenchNine, serif;
}
h3 {
  color: #666;
  text-align: left;
  margin: 10px 10px;
  font-family: BenchNine, serif;
}
.text {
  color: white;
  text-align: center;
}
p {
  padding: 10px 35px;
}
img {
  padding-left: 45px;
  width: 85%;
}
header {
  height: 110px;
}

/********** Hexagons by James Tauber http://jtauber.github.io/articles/css-hexagon.html **********/

.hex {
  float: left;
  margin-left: 50px;
  margin-bottom: -60px;
}
.hex .top-green {
  width: 0;
  border-bottom: 90px solid #94BA65;
  border-left: 156px solid transparent;
  border-right: 156px solid transparent;
}
.hex .middle-green {
  width: 312px;
  height: 180px;
  background: #94BA65;
}
.hex .middle-green .front {
  padding-top: 5px;
}
.hex .middle-green .back {
  padding-top: 5px;
}

.hex .bottom-green {
  width: 0;
  border-top: 90px solid #94BA65;
  border-left: 156px solid transparent;
  border-right: 156px solid transparent;
}
.hex .top-blue {
  width: 0;
  border-bottom: 90px solid #2B4E72;
  border-left: 156px solid transparent;
  border-right: 156px solid transparent;
}
.hex .middle-blue {
  width: 312px;
  height: 180px;
  background: #2B4E72;
}
.hex .middle-blue .front {
  padding-top: 20px;
}
.hex .bottom-blue {
  width: 0;
  border-top: 90px solid #2B4E72;
  border-left: 156px solid transparent;
  border-right: 156px solid transparent;
}
.hex .top-teal {
  width: 0;
  border-bottom: 90px solid #2790B0;
  border-left: 156px solid transparent;
  border-right: 156px solid transparent;
}
.hex .middle-teal {
  width: 312px;
  height: 180px;
  background: #2790B0;
}
.hex .middle-teal .front {
  padding-top: 20px;
}
.hex .middle-teal .back {
  padding-top: 20px;
}
.hex .bottom-teal {
  width: 0;
  border-top: 90px solid #2790B0;
  border-left: 156px solid transparent;
  border-right: 156px solid transparent;
}
.hex-row {
  clear: left;
}
.row-2 {
  margin-left: 175px;
}

/********** Social Bar **********/

#social {
  position: absolute;
  top: 70px;
  left: 950px;
  width: auto;
  z-index: 1;
}

i {
  font-size: 35px;
  margin: 5px;
}

a {
  color: #666;
  text-decoration: none;
}

/********** Flip from David Walsh http://davidwalsh.name/css-flip **********/

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  transform-style: preserve-3d;
}

/*  UPDATED! flip the pane when hovered */
.flip-container:hover .back {
  transform: rotateY(0deg);
}
.flip-container:hover .front {
  transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
  transition: 0.3s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  transition: 0.3s;
  transform-style: preserve-3d;

  position: absolute;
  top: 0;
  left: 0;
}

/*  UPDATED! front pane, placed above back */
.front {
  z-index: 2;
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(-180deg);
}

