/* fixes */

*	{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

		#me {
            height: 200px;
            min-width: 400px;
            display: inline-block;
            float: left;
        }
        #drag {
            border: none;
            height: 200px;
            width: 75px;
            display: inline-block;
            background: none;
            color: orange;
            font: bold 20px arial, helvetica;
            float: left;
            text-align: left;
            margin: 50px 0 0 -75px;
        }
        #whee {
            border: none;
            height: 200px;
            width: 75px;
            display: inline-block;
            background: none;
            color: orange;
            font: bold 30px arial, helvetica;
            float: left;
            margin-left: 25px;
        }
        body {
            background: url("https://scontent-a.xx.fbcdn.net/hphotos-ash2/420067_10100972638725999_1443968034_n.jpg");
            font: sans-serif, helvetica;
            background-size: cover;
            background-repeat: repeat-n;
        }
        h1 {
            font: bold 50px arial, helvetica;
            color: orange;
            text-align: left;
            margin: 25px 50px;
        }
        h2 {
            font: bold 20px arial, helvetica;
            color: gray;
            text-align: center;
            padding-top: 20px;
        }
        .hidden {
            visibility:hidden;
        }
        .project {
            border: 10px solid white;
            display: inline-block;
            float: left;
            height: 225px;
            margin-left: 50px;
            background: white;
            box-shadow: 0px 0px 15px #888888;
            max-width: 500px;
        }
        img {
            height: 150px;
            display: inline-block;
            margin-bottom: -5px;
        }   
        header {
            height: 100px;
        }



/********** Social Bar **********/

#social {
	position: fixed;
	top: 200px;
	right: 3px;
	width: 40px;
	z-index: 1;
}

	a.linkedin {
		display: block;
		width: 40px;
		height: 40px;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		background: url(../images/social-icons.png) no-repeat;
	}

	a.linkedin { background-position: 0 0; }
	a.linkedin:hover { background-position: -40px 0; }
	a.linkedin:active { background-position: -80px 0; }



