/* fixes */

*	{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

/* header */

header {
	height: 150px;
	background: url(../images/header_image.jpg);
	background-repeat: no-repeat;
	background-color: #989898;
	background-position: bottom right;
	border-bottom: 10px solid #ccc;
}

.title {
	padding: 75px 0 0 50px;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 20px;
	font-color: #fff;
}


body {
	background-color: #fff;
}

p {
	font-family: 'Trebuchet MS', sans-serif;
	margin: 20px 0 0 55px;
	text-align: left;
}

figure {
    margin: 10px 0 35px 55px;
    height: 200px;
}

.linked {
    margin: 5px 0 0 55px;
}

/*
.left {
	float: left;
	width: 74%;
	left-margin: 1%;
}

.right {
	float: right;
	width: 25%;
}

.right > p {
	margin: 20px 0 0 0;
}
*/

figcaption {
	margin: 10px;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	font-family: Georgia, "Times New Roman", serif;
	color: #999;
}

/*.figure_alt {
    margin: 10px 0 0 55px;
    box-shadow: 10px 10px 0 #FFF;
    height: 150px;
    width: 460px;
    overflow: hidden;
    -webkit-box-shadow: 10px 10px 0 #FF9933;
    -moz-box-shadow: 10px 10px 0 #FF9933;
}*/


/********** Social Bar **********/

#social {
	position: fixed;
	top: 200px;
	right: 3px;
	width: 40px;
	z-index: 1;
}

	a.linkedin {
		display: block;
		width: 40px;
		height: 40px;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		background: url(../images/social-icons.png) no-repeat;
	}

	a.linkedin { background-position: 0 0; }
	a.linkedin:hover { background-position: -40px 0; }
	a.linkedin:active { background-position: -80px 0; }

/*footer*/

footer {
	height: 75px;
	margin-top: 100px;
	padding: 40px 0 0 25px;
	font-size: 10px;
}

/* Nav Bar */

nav {
	margin-bottom: 25px;
	border-bottom: 1px solid #ccc;
}

	nav a {
		display: inline-block;
		width: 125px;
		margin: 0 25px;
		line-height: 1.5em;
		text-decoration: none;
		padding: 10px 0;
	}

	.sub_nav a {
		display: inline-block;
		text-decoration: none;
		margin: 0 50px 25px 0;
	}

	.sub_nav a.selected {
		font-weight: bold;
		font-size: 1.5em;
	}


p {
	font-size: 16px;
}

h1	{
	color: #fff;
	text-decoration: none;
	margin-bottom: 10px;
}

h2	{
	color: #000;
	text-decoration: none;
	margin-bottom: 10px;
}

h3    {
    text-decoration: none;
    margin-bottom: 0;
    font-weight: normal;
}

h4    {
    color: #000;
    border-bottom: 3px solid #FF9933;
    margin-bottom: 10px;
    font-size: 20px;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

section {
    margin: 0 0 50px 0;
}

.col3 {
	margin: 0 0;
	min-width: 300px;
}

.col1_left {
	float: left;
	width: 31%;
	margin: 0 0 20px 0;
	min-width: 200px;
} 

.col1_mid {
	float: left;
	width: 31%;
	margin: 0  3% 20px 3%;
	min-width: 200px;
}

.col1_right {
	float: right;
	width: 31%;
	margin: 0 0 20px 0;
	min-width: 200px;
} 

.col2_left {
	float: left;
	width: 65%;
	margin: 0 3% 20px 0;
	min-width: 250px;
} 

.col2_right {
	float: right;
	width: 65%;
	margin: 0 0 20px 3%;
	min-width: 250px;
} 

a:link, a:visited  {
	text-decoration: none;
	color: #000;
}

a:hover	{
	font-weight: bold;
}

input, textarea {
	display: block;
	width: 100%;
	padding: 5px;
	margin-bottom: 5px;
	box-shadow: 0 3px 5px #ccc;
	border: 1px solid #ccc;
}

input[type="submit"] {
	margin-top: 10px;
	width: 100px;
	background: #FF9933;
	color: white;
	border-radius: 25px;
	border: 0;
}

